<div class="container p-4">
    <div class="card mb-2">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <a href="#" (click)="onForm('1')" class="btn btn-success">Especialidad</a>
                <a href="#" (click)="onForm('2')" class="btn btn-success">Tipo Documentos</a>
                <a href="#" (click)="onForm('3')" class="btn btn-success">rol</a>
            </div>
        </div>
    </div>
    
    <form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="formulario">
        <div class="card">
            <div class="card-body">
                <ng-container *ngFor="let form of formulario">
                        <label>{{form.label}}</label>
                        <div [ngSwitch]="form.controltype">
                            <div class="form-group" *ngSwitchCase="'textbox'">
                                <input [type]="form.type" [id]="form.key" [formControlName]="form.key" class="form-control" />
                            </div>

                            <div class="form-group" *ngSwitchCase="'checkbox'">
                                <input [type]="form.type" [id]="form.key" [formControlName]="form.key" [value]="form.key" />
                            </div>

<!--                             
                            <div class="form-group" *ngSwitchCase="'select'">
                                <select class="form-control" [formControlName]="form.label">
                                    <option [ngValue]="null">SELECTION CITY</option>
                                    <option *ngFor="let option of form.options" [value]="option.key">{{option.value}}</option>
                                </select>
                            </div>

                            <div class="form-group" *ngSwitchCase="'radio'">
                                <div *ngFor="let option of form.optionRadio">
                                    <input type="radio" 
                                           [formControlName]="form.label"
                                           [value]="option.key"
                                           />
                                           <label>{{option.value}}</label>
                                </div>
                            </div> -->
                                
                        </div>
                        
                </ng-container>
                <div class="form-group d-flex justify-content-center">
                    <button type="submit" class="btn btn-success">enviar</button>
                </div>
            </div>
        </div>
    </form>
</div>

<ng-container *ngIf="value$">
    <div class="d-flex justify-content-center">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ value$ | async | json}}</h5>               
            </div>
        </div>
    </div>
</ng-container>
