<div class="container p-4">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="card">
            <div class="card-body">
                <ng-container *ngFor="let form of forms$ |  async">
                        <label>{{form.label}}</label>
                        <div [ngSwitch]="form.controlType">
                          
                            <div class="form-group" *ngSwitchCase="'textbox'">
                                <input [type]="form.type" [id]="form.key" [formControlName]="form.key" class="form-control"/>
                            </div>
                            
                            
                            <div class="form-group" *ngSwitchCase="'select'">
                                <select class="form-control" [formControlName]="form.key">
                                    <option [ngValue]="null">SELECTION CITY</option>
                                    <option *ngFor="let option of form.options" [value]="option.key">{{option.value}}</option>
                                </select>
                            </div>

                            <div class="form-group" *ngSwitchCase="'radio'">
                                <div *ngFor="let option of form.optionRadio">
                                    <input type="radio" 
                                           [formControlName]="form.key"
                                           [value]="option.key"
                                           />
                                           <label>{{option.value}}</label>
                                </div>
                            </div>
                                
                        </div>
                        
                </ng-container>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">enviar</button>
                </div>
            </div>
        </div>
    </form>
</div>

<ng-container *ngIf="value$">
    <div class="d-flex justify-content-center">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ value$ | async | json}}</h5>               
            </div>
        </div>
    </div>
</ng-container>